In [7]:
# Import biblioteki pandas
import pandas as pd

# Wczytanie pliku csv
df = pd.read_csv('HotelReviews.csv', sep=';')

# Wyświetlenie tabeli z pliku csv
df.head()

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7

In [8]:
# Połączenie kolumn 'Positive_Review' i 'Negative_Review' do jednej kolumny 'Review'
df['Review'] = df['Negative_Review'] + ' ' + df['Positive_Review']

# Wyświetlenie pierwszych 5 wierszy, aby sprawdzić, czy operacja się powiodła
df.head()

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Review
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,I am so angry that i made this post available...
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5,No Negative No real complaints the hotel was ...
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,Rooms are nice but for elderly a bit difficul...
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,My room was dirty and I was afraid to walk ba...
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,You When I booked with your company on line y...

In [9]:
# Zakodowanie ogólnej oceny hotelu w formie binarnej
df['Review_Score'] = df['Reviewer_Score'].apply(lambda x: 0 if x >= 5 else 1)

# Obliczenie liczby pozytywnych i negatywnych recenzji
positive_reviews = df[df['Review_Score'] == 0].shape[0]
negative_reviews = df[df['Review_Score'] == 1].shape[0]

print(f'Liczba pozytywnych recenzji: {positive_reviews}')
print(f'Liczba negatywnych recenzji: {negative_reviews}')

Liczba pozytywnych recenzji: 493457
Liczba negatywnych recenzji: 22281

In [10]:
# Usunięcie wyrażeń 'No Positive' i 'No Negative' z recenzji
df['Review'] = df['Review'].replace('No Positive', '')
df['Review'] = df['Review'].replace('No Negative', '')

# Wyświetlenie pierwszych 5 wierszy, aby sprawdzić, czy operacja się powiodła
df.head()

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Review,Review_Score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,I am so angry that i made this post available...,1
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5,No Negative No real complaints the hotel was ...,0
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,Rooms are nice but for elderly a bit difficul...,0
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,My room was dirty and I was afraid to walk ba...,1
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,You When I booked with your company on line y...,0

In [11]:
# Zamiana wszystkich wielkich liter na małe
df['Review'] = df['Review'].str.lower()

# Wyświetlenie pierwszych 5 wierszy, aby sprawdzić, czy operacja się powiodła
df.head()

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Review,Review_Score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,i am so angry that i made this post available...,1
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5,no negative no real complaints the hotel was ...,0
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,rooms are nice but for elderly a bit difficul...,0
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,my room was dirty and i was afraid to walk ba...,1
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,you when i booked with your company on line y...,0

In [12]:
# Wgranie biblioteki nltk
import nltk
# Pobranie słów kluczowych 'stopwords'
from nltk.corpus import stopwords
# Pobranie funkcji word_tokenize, która służy do dzielenia tekstu na poszczególne słowa (tokeny)
from nltk.tokenize import word_tokenize

# Pobranie listy angielskich przerywników
nltk.download('punkt')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

# Usunięcie przerywników i jednoliterowych słów
df['Review'] = df['Review'].apply(lambda x: ' '.join([word for word in word_tokenize(x) if word not in stop_words and len(word) > 1]))

# Wyświetlenie pierwszych 5 wierszy, aby sprawdzić, czy operacja się powiodła
df.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Review,Review_Score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,angry made post available via possible sites u...,1
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5,negative real complaints hotel great great loc...,0
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,rooms nice elderly bit difficult rooms two sto...,0
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,room dirty afraid walk barefoot floor looked c...,1
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,booked company line showed pictures room thoug...,0

In [14]:
# Import klasy WordNetLemmatizer
from nltk.stem import WordNetLemmatizer

# Wgranie zasobu WordNet, który jest używany przez WordNetLemmatizer do lematyzacji słów.
# Lematyzacja to proces sprowadzania słowa do jego podstawowej, kanonicznej formy, zwanej lematem. 
nltk.download('wordnet')

# Inicjalizacja lematyzatora
lemmatizer = WordNetLemmatizer()

# Lematyzacja słów
df['Review'] = df['Review'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in word_tokenize(x)]))

# Wyświetlenie pierwszych 5 wierszy, aby sprawdzić, czy operacja się powiodła
df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...

,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Review,Review_Score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,angry made post available via possible site us...,1
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5,negative real complaint hotel great great loca...,0
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,room nice elderly bit difficult room two story...,0
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,room dirty afraid walk barefoot floor looked c...,1
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,booked company line showed picture room though...,0

In [16]:
# Import klasy SentimentIntensityAnalyzer z modułu vader w bibliotece nltk. 
# Analizuje i ocenia emocjonalny wydźwięk tekstu, np. czy tekst wyraża pozytywne, negatywne lub neutralne uczucia.
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Wgranie zasobu vader_lexicon, który jest używany przez SentimentIntensityAnalyzer do analizy sentymentów
nltk.download('vader_lexicon')

# Inicjalizacja analizatora sentymentów
sia = SentimentIntensityAnalyzer()

# Dodanie kolumny z wynikami analizy sentymentów
df['Sentiment'] = df['Review'].apply(lambda x: sia.polarity_scores(x)['compound'])

# Wybranie recenzji, które mają więcej niż 5 słów
df = df[df['Review'].apply(lambda x: len(word_tokenize(x)) > 5)]

# Wyświetlenie 10 najlepszych recenzji
print('10 najlepszych recenzji:')
print(df.nlargest(10, 'Sentiment')['Review'])

# Wyświetlenie 10 najgorszych recenzji
print('\n10 najgorszych recenzji:')
print(df.nsmallest(10, 'Sentiment')['Review'])

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

10 najlepszych recenzji:
417442    absolutely nothing bad speak langham excelled ...
132492    highest floor elevator access take elevator 5t...
322920    negative moment stepped door guesthouse hotel ...
93291     stay night short london much see spend enough ...
102140    like prefer lovely boutique hotel bit personal...
179007    nothing really nothing went andaz 40th birthda...
79215     find anything hotel first walked past hotel ar...
134495    lift small say fit three people cosy two unusu...
313874    great still acceptable breakfast basic limited...
405132    two thing like bathtub high 30 40cm thick hard...
Name: Review, dtype: object

10 najgorszych recenzji:
137893    window claustrophobic place even superior room...
5839      completely disappointed mad since reception st...
186584    bad experience memory hotel first night arrive...
172207    room dirty dusty toilet drain stank badly hous...
307286    staff bad experience even booking january arri...
464303    never seen hotel entrance second floor buildin...
129503    first charged twice room booked booking second...
429239    fish cake room service menu made ill ruined st...
375965    disgusting dirty poor quality fitting damaged ...
503084    see worst level customer service ever experien...
Name: Review, dtype: object

In [17]:
# Import funkcji train_test_split z modułu model_selection w bibliotece scikit-learn.
# Dzieli dostępne dane na dwie części, aby móc trenować model na jednym zbiorze i oceniać jego skuteczność na drugim zbiorze
from sklearn.model_selection import train_test_split

# Import klasy LogisticRegression z modułu linear_model w bibliotece scikit-learn.
# Dostarcza funkcje i metody do budowy i dopasowania modelu regresji logistycznej.
from sklearn.linear_model import LogisticRegression

# Import funkcji accuracy_score z modułu metrics w bibliotece scikit-learn.
# Oblicza dokładność klasyfikacji.
from sklearn.metrics import accuracy_score

# Podział zbioru danych na dane uczące i testowe
X_train, X_test, y_train, y_test = train_test_split(df[['Sentiment']], df['Review_Score'], test_size=0.2, random_state=42)

# Inicjalizacja klasyfikatora
clf = LogisticRegression()

# Trenowanie klasyfikatora
clf.fit(X_train, y_train)

# Przewidywanie etykiet dla danych testowych
y_pred = clf.predict(X_test)

# Obliczenie i wyświetlenie dokładności klasyfikacji
accuracy = accuracy_score(y_test, y_pred)
print(f'Dokładność klasyfikacji: {accuracy}')

Dokładność klasyfikacji: 0.9544719420107741